@{
    ViewData["Title"] = "Home Page";
}

<header>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
</header>
<style>
    body, h1, h2, h3, h4, h5 {
        font-family: "Raleway", sans-serif;
        background-color: black;
    }

    .w3-quarter iframe {
        margin-bottom: -6px;
        cursor: pointer
    }

        .w3-quarter iframe:hover {
            opacity: 0.6;
            transition: 0.3s
        }
</style>

<h1 class="display-1 text-center"style="color:#831010">Dataflix</h1> <br />

<div class="container-fluid" >
    <div class="row" >
        <iframe class="col" src="https://www.youtube.com/embed/Rbsd5hjkIGw?list=RDPiHdFNKzhEk" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <iframe class="col" src="https://www.youtube.com/embed/Rbsd5hjkIGw?list=RDPiHdFNKzhEk" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <iframe class="col" src="https://www.youtube.com/embed/Rbsd5hjkIGw?list=RDPiHdFNKzhEk" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <iframe class="col" src="https://www.youtube.com/embed/Rbsd5hjkIGw?list=RDPiHdFNKzhEk" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <iframe class="col" src="https://www.youtube.com/embed/Rbsd5hjkIGw?list=RDPiHdFNKzhEk" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

     <div class="row" >
        <iframe class="col" src="https://www.youtube.com/embed/Rbsd5hjkIGw?list=RDPiHdFNKzhEk" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <iframe class="col" src="https://www.youtube.com/embed/Rbsd5hjkIGw?list=RDPiHdFNKzhEk" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <iframe class="col" src="https://www.youtube.com/embed/Rbsd5hjkIGw?list=RDPiHdFNKzhEk" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <iframe class="col" src="https://www.youtube.com/embed/Rbsd5hjkIGw?list=RDPiHdFNKzhEk" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <iframe class="col" src="https://www.youtube.com/embed/Rbsd5hjkIGw?list=RDPiHdFNKzhEk" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>


</div>
